body{
    background-color: purple;
}





h1{
    font-size: 0.1rem;
    font-family: arial, sans-serif;
    
}


.plava{
    color: #00f;
    text-indent: 0.8rem;
    padding: 10px;
    margin: 10px;
    border: 1px solid red;
}

#veliko{
    font-size: 4rem;
}